<div class="panel mb25">
  <div class="panel-heading broder">
    <h1>Quizzes</h1>
  </div>
  <div class="panel-body">
    <div class="row no-margin">
      <div class="col-lg-12">
        <%= render 'messages_form' %>
      </div>
    </div>
  </div>
</div>

<div id="new-q-chat">
</div>




<div id="new-ques-chat">
</div>
