<div class="row ">
  <div class="col-md-6">
    <h1>10 Easy Animals to Draw</h1>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/7SWvlUd2at8">
    </iframe>
  </div>

  <div class="col-md-6">
    <h1>How To Draw A Rainbow</h1>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/Me_INPqx4WU">
    </iframe>
  </div>
  <div class="col-md-6">
    <h1>How To Draw A Rainbow</h1>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/Me_INPqx4WU">
    </iframe>
  </div>
  <div class="col-md-6">
    <h1>How To Draw A Rainbow</h1>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/Me_INPqx4WU">
    </iframe>
  </div>
</div>