<ol class="breadcrumb">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/labels">Labels</a>
  </li>
  <li class="active">
    <%= @label['name'] %>
  </li>
</ol>

<div class="panel mb25">
  <div class="panel-body" id="uniq-panel">
    <div class="col-md-12">
      <div>
        <b>Label Name:</b>
        <%= @label['name'] %>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
  
</script>
